.app-look {
 .swiper-container {
  width: 100%;
  height: 550px;

  .swiper-wrapper {
   align-items: center;

   .swiper-slide {
    max-width: 230px;
    height: auto;
    border-radius: 5px;

    img {
     max-width: 100%;
    }
   }

   .swiper-slide-active {
    transform: scale(1.15);
    transition: $transition;
   }
  }

  .swiper-pagination {
   bottom: 0px !important;
  }
 }
}
