.contact-us {
 padding-bottom: 0;

 .section-title {
  p {
   color: $textColor;
   font-size: 1rem;
  }
 }

 .contact-us-from {
  width: 75%;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  .input-control {
   position: relative;
  }

  .input-control:nth-child(1),
  .input-control:nth-child(2),
  .input-control:nth-child(3) {
   height: 40px;
   margin-bottom: 0.5rem;
  }

  .input-control:nth-child(1),
  .input-control:nth-child(2) {
   flex: 0 0 250px;
   position: relative;
  }

  .input-control:nth-child(1) {
   .input-icon {
    color: $mainColor;
    font-size: 1.3rem;
    position: absolute;
    left: 20px;
    top: 5px;
   }

   input {
    width: 100%;
    height: 100%;
    color: $mainColor;
    border: 2px solid $mainColor;
    outline: none;
    padding-left: 3rem;
    padding-right: 0.5rem;
    border-radius: 20px;

    &::placeholder {
     color: $mainColor;
     font-size: 14px;
     font-weight: 600;
    }
   }
  }

  .input-control:nth-child(2) {
   select {
    width: 100%;
    height: 100%;
    padding-left: 1rem;
    color: $mainColor;
    font-size: 14px;
    font-weight: 600;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 2px solid $mainColor;
    border-radius: 20px;
    outline: none;

    option.selected {
     display: none;
    }
   }

   .select-icon {
    color: $mainColor;
    position: absolute;
    top: 10px;
    right: 20px;
   }
  }

  .input-control:nth-child(3) {
   flex: 0 0 150px;

   input {
    width: 100%;
    height: 100%;
    background-color: $mainColor;
    color: $lightColor;
    text-transform: uppercase;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 14px;
   }
  }
 }

 .contact-details {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 2rem;

  .contact-item {
   display: flex;
   align-items: center;
   margin-left: 3rem;

   a,
   span {
    color: $mainColor;
   }

   a {
    font-size: 14px;
   }

   .icon {
    font-size: 1.3rem;
    margin-right: 1rem;
   }
  }
 }
}

@media (max-width: 991px) {
 .contact-us-from {
  margin: 0 auto;
  width: 50% !important;

  .input-control {
   margin: 0 auto;
  }
 }
}

@media (max-width: 767px) {
 .contact-us-from {
  margin: 0 auto;
  width: 90% !important;
 }

 .input-control {
  margin: 0 auto;
 }

 .contact-item {
  width: 100%;
  justify-content: center;
  margin: 0 !important;
 }
}
